.container {
  padding: 30px 40px;
  min-height: 50vh;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 8px;
}

.settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 400px;
  gap: 1rem 1.5rem;
}
