.main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content {
  position: relative;
  flex: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.currentNote {
  width: 50px;
  text-align: center;
}

.words {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.content[data-full-screen="true"] > .control {
  opacity: 0;
}

.content[data-full-screen="true"]:hover > .control {
  opacity: 1;
}

.control {
  opacity: 1;
  position: absolute;
  right: 8px;
  bottom: 8px;
  transition: opacity 300ms;
}

.pianoContainer {
  flex: 0 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: max-height 300ms ease-out;
}

.pianoContainer[data-full-screen="true"] {
  max-height: 0px;
}

.piano {
  white-space: nowrap;
  font-size: 0.5rem;
}

.whiteKey[data-has-text="true"] {
  background-color: var(--c-active);
}

.blackKey[data-has-text="true"] {
  background-color: #1b5185;
}
